/*Основное содержимое:*/

#content {
    margin: 0;
    padding: 0;
}

.tab-content {
    width: 100%;
}

/*Стиль кнопок*/

.btn-info {
    color: white;
}

/*Содержимое страниц ошибок:*/

.error-content {
    padding-left: 15px;
}

.error-content > p {
    color: red;
    font-weight: bold;
}

/*Верхняя навигационная панель*/

.navbar.navbar-expand-lg {
    background: #343a40;
}

.navbar.navbar-expand-lg a {
    color: #94948c;
    text-decoration: none;
    text-align: right;
}

.navbar-expand-lg form {
    color: white;
    float: right;
}

/*Боковые вкладки*/

div.nav.nav-pills.flex-column.me-3 {
    margin-right: 0 !important;
    width: 20%;
    padding-top: 10px;
}

button.nav-link {
    text-align: left;
}

/*Содержимое вкладок (заголовок и таблица):*/

td {
   vertical-align: middle;
}

.tab-pane {
    padding: 20px;
    background-color: #f2f2f2;
    min-height: 100vh;
}

#home-tab-pane {
    padding: 0;
}

#table-wrapper {
    border-collapse: collapse;
}

#row-header {
    background-color: #f2f2f2;
}

#row-content {
    background-color: white;
    margin: 0;
}

#myTabContent {
    padding: 0;
    margin: 0;
}

.tab-content .td-main {
    border: 1px solid #c7c8c9;
    margin: 5px;
    padding-top: 10px;
}

#td-add-user-form {
    border: 1px solid #c7c8c9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#td-add-user-form form {
    width: 50vh;
    text-align: center;
}

#button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#td-add-user-form button {
    width: max-content;
}

/*Модальные окна:*/

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body form {
    width: 70vh;
    text-align: center;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

.bottom-buttons .btn-secondary {
    margin-right: 5px;
}

#modal-edit-content #edit-modal-id {
    background-color: #c7c8c9;
}

#modal-delete-content input, #modal-delete-content option {
    background-color: #c7c8c9;
}