<div xmlns:th="http://thymeleaf.org"
     th:fragment="add-user">
    <table class="table table-responsive" id="table-wrapper">
        <tr>
            <td class="td-main" id="row-header">
                <div>
                    <h5>Add new user</h5>
                </div>
            </td>
        </tr>
        <tr>
            <td id="td-add-user-form">
                <form name="addUserForm">
                    <div class="mt-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>First name</b></h6>
                                <input name="name" type="text" class="form-control"
                                       id="add-name"
                                       placeholder="Name" required>
                                <div class="invalid-feedback">Обязательное поле для
                                    заполнения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>Last name</b></h6>
                                <input name="lastName" type="text" class="form-control"
                                       id="add-lastName"
                                       placeholder="Last name" required>
                                <div class="invalid-feedback">Обязательное поле для
                                    заполнения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>Age</b></h6>
                                <input name="age" type="number" class="form-control"
                                       id="add-age"
                                       placeholder="Age" required>
                                <div class="invalid-feedback">Обязательное поле для
                                    заполнения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>Email</b></h6>
                                <input name="email" type="text" class="form-control"
                                       id="add-email"
                                       placeholder="E-mail" required>
                                <div class="invalid-feedback">Обязательное поле для
                                    заполнения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>Password</b></h6>
                                <input name="password" type="password" class="form-control"
                                       id="add-password"
                                       placeholder="Password" required>
                                <div class="invalid-feedback">Обязательное поле для
                                    заполнения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <h6><b>Role</b></h6>
                                <select class="form-select" name="roleIds"
                                        id="add-user-roles" multiple required>
                                    <option th:each="role : ${new_roles}"
                                            th:value=" ${role.getTitle()}"
                                            th:text="${role.getTitle()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row g-2" id="button-wrapper">
                        <button class="btn btn-success" id="add-user" onclick="addUser()">Add new user
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
</div>
