<div xmlns:th="http://thymeleaf.org"
     th:fragment="admin">
    <h2>Admin panel</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane" type="button" role="tab"
                    aria-controls="home-tab-pane" aria-selected="true">Users table
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                    aria-controls="profile-tab-pane" aria-selected="false">New user
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
             aria-labelledby="home-tab" tabindex="0">
            <table class="table table-responsive" id="table-wrapper">
                <tr>
                    <td class="td-main" id="row-header">
                        <div>
                            <h5>All users</h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-main" id="row-content">
                        <table class="table table-striped">
                            <thead>
                            <hr>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="users-content">
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getLastName()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td th:each="role : ${user.getRoles()}">
                                                <span th:text="${role.getTitle()}"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info"
                                            data-bs-toggle="modal"
                                            th:data-bs-target="'#edit' + ${user.getId()}">Edit
                                    </button>
                                    <!-- ******************************************************* -->
                                    <!-- Modal edit window-->
                                    <!-- ******************************************************* -->
                                    <div th:insert="~{updateUser :: update-user}"></div>
                                    <!-- ******************************************************* -->

                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            th:data-bs-target="'#delete' + ${user.getId()}">
                                        Delete
                                    </button>

                                    <!-- ******************************************************* -->
                                    <!-- Modal delete window-->
                                    <!-- ******************************************************* -->
                                    <div th:insert="~{deleteUser :: delete-user}"></div>
                                    <!--******************************************************** -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!-- *************************************************************************************** -->
        <!-- Add user tab -->
        <!-- *************************************************************************************** -->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
             aria-labelledby="profile-tab" tabindex="0">
            <div th:replace="~{addUser :: add-user}"></div>
        </div>
        <!--**************************************************************************************** -->
    </div>
</div>
</div>