<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div class="col" layout:fragment="content">
    <h2 sec:authorize="#authentication.getName().equals('admin@admin.com')">Admin panel</h2>
    <h2 sec:authorize="!#authentication.getName().equals('admin@admin.com')">User information-page</h2>
    <table class="table" style="border-collapse: collapse">
        <tr>
            <td style="border: 1px solid rgb(190,190,190)">
                <div sec:authorize="#authentication.getName().equals('admin@admin.com')">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/add-user">New user</a>
                        </li>
                    </ul>
                    <div style="margin: 5px"><h5>All users</h5></div>
                </div>
                <div sec:authorize="!#authentication.getName().equals('admin@admin.com')">
                    <div style="margin: 5px"><h5>About user</h5></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid rgb(190,190,190); padding: 0">
                <div style="background-color: white; padding: 10px; margin: 0">
                    <table class="table table-striped">
                        <thead>
                        <hr>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col" sec:authorize="#authentication.getName().equals('admin@admin.com')">Edit</th>
                            <th scope="col" sec:authorize="#authentication.getName().equals('admin@admin.com')">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getLastName()}"></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td>
                                <div style="float: left; margin-right: 5px" th:each="role : ${user.getRoles()}">
                                        <p th:text="${role.getTitle()}"></p>
                                </div>
                            </td>
                            <td sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                <a th:href="'/admin/update-user/' + ${user.getId()}"
                                   class="btn btn-secondary btn-info"
                                   role="button"
                                   aria-disabled="true">Edit</a></td>
                            <td sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                <a th:href="'/admin/delete-user/' + ${user.getId()}"
                                   class="btn btn-secondary btn-danger"
                                   role="button"
                                   aria-disabled="true">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>