<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div class="col" layout:fragment="content">
    <h2 sec:authorize="#authentication.getName().equals('admin@admin.com')">Admin panel</h2>
    <h2 sec:authorize="!#authentication.getName().equals('admin@admin.com')">User
        information-page</h2>
    <ul sec:authorize="#authentication.getName().equals('admin@admin.com')"
        class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane" type="button" role="tab"
                    aria-controls="home-tab-pane" aria-selected="true">Users table
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                    aria-controls="profile-tab-pane" aria-selected="false">New user
            </button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
             aria-labelledby="home-tab" tabindex="0">

            <table class="table table-responsive" style="border-collapse: collapse">
                <tr>
                    <td style="border: 1px solid #c7c8c9; background-color: #f2f2f2">
                        <div sec:authorize="#authentication.getName().equals('admin@admin.com')"
                             style="margin: 5px; padding-top: 10px"><h5>All users</h5></div>
                        <div sec:authorize="!#authentication.getName().equals('admin@admin.com')"
                             style="margin: 5px"><h5>About user</h5></div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #c7c8c9">
                        <div style="background-color: white; padding: 10px; margin: 0">
                            <table class="table table-striped">
                                <thead>
                                <hr>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col"
                                        sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                        Edit
                                    </th>
                                    <th scope="col"
                                        sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                        Delete
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td>
                                        <div style="float: left; margin-right: 5px"
                                             th:each="role : ${user.getRoles()}">
                                            <p th:text="${role.getTitle()}"></p>
                                        </div>
                                    </td>
                                    <td sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                        <button type="button" class="btn btn-info"
                                                data-bs-toggle="modal" style="color: white"
                                                th:data-bs-target="'#edit' + ${user.getId()}">Edit
                                        </button>
                                        <!-- *********************************************************************************-->
                                        <!-- Modal edit window-->
                                        <!-- *********************************************************************************-->
                                        <div class="modal fade" th:id="'edit' + ${user.getId()}"
                                             tabindex="-1" aria-labelledby="editModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5"
                                                            id="editModalLabel">Edit user</h1>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div style="padding-left: 15px">
                                                            <div style="display:flex; align-items: center;
                                                            justify-content: center">
                                                                <form method="POST"
                                                                      th:action="@{/admin/update-user}"
                                                                      object="edit-user"
                                                                      style="width: 70vh; text-align: center">
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>ID</b></h6>
                                                                                <input name="id"
                                                                                       type="text"
                                                                                       class="form-control"
                                                                                       id="edit-modal-id"
                                                                                       th:value="${user.getId()}"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>First
                                                                                    name</b></h6>
                                                                                <input name="name"
                                                                                       type="text"
                                                                                       th:value="${user.getName()}"
                                                                                       class="form-control"
                                                                                       id="edit-modal-name"
                                                                                       placeholder="Name">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Last name</b>
                                                                                </h6>
                                                                                <input name="lastName"
                                                                                       type="text"
                                                                                       th:value="${user.getLastName()}"
                                                                                       class="form-control"
                                                                                       id="edit-modal-lastName"
                                                                                       placeholder="Last name">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 mb-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Age</b></h6>
                                                                                <input name="age"
                                                                                       type="text"
                                                                                       th:value="${user.getAge()}"
                                                                                       class="form-control"
                                                                                       id="edit-modal-age"
                                                                                       placeholder="Age">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Email</b>
                                                                                </h6>
                                                                                <input name="email"
                                                                                       type="text"
                                                                                       th:value="${user.getEmail()}"
                                                                                       class="form-control"
                                                                                       id="edit-modal-email"
                                                                                       placeholder="Email"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Password</b>
                                                                                </h6>
                                                                                <input name="password"
                                                                                       type="password"
                                                                                       class="form-control"
                                                                                       id="edit-modal-password"
                                                                                       placeholder="Password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Role</b></h6>
                                                                                <select class="form-select"
                                                                                        name="user-roles"
                                                                                        id="edit-modal-user-roles"
                                                                                        style="padding: 0; overflow: hidden"
                                                                                        multiple
                                                                                        required>
                                                                                    <option th:each="role : ${new_roles}"
                                                                                            th:value=" ${role.getId()}"
                                                                                            th:text="${role.getTitle()}"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div style="display:flex; align-items: center;
                                                                       justify-content: right">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal"
                                                                                style="margin-right: 5px">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-primary">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- *****************************************************************************-->

                                    </td>
                                    <td sec:authorize="#authentication.getName().equals('admin@admin.com')">
                                        <button type="button" class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                th:data-bs-target="'#delete' + ${user.getId()}">
                                            Delete
                                        </button>

                                        <!-- ********************************************************************-->
                                        <!-- Modal delete window-->
                                        <!-- ********************************************************************-->
                                        <div class="modal fade" th:id="'delete' + ${user.getId()}"
                                             tabindex="-1" aria-labelledby="deleteModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5"
                                                            id="deleteModalLabel">Delete user</h1>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" id="modal-delete-content">
                                                        <div style="padding-left: 15px">
                                                            <div style="display:flex; align-items: center;
                                                            justify-content: center">
                                                                <form method="POST"
                                                                      th:action="@{/admin/delete-user}"
                                                                      object="delete-user"
                                                                      style="width: 70vh; text-align: center">
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>ID</b></h6>
                                                                    <input name="id" type="text"
                                                                           th:value="${user.getId()}"
                                                                           class="form-control"
                                                                           id="delete-id" readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>First name</b></h6>
                                                                                <input name="name"
                                                                                       type="text"
                                                                                       th:value="${user.getName()}"
                                                                                       class="form-control"
                                                                                       id="delete-modal-name"
                                                                                       placeholder="Name"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Last name</b></h6>
                                                                                <input name="lastName"
                                                                                       type="text"
                                                                                       th:value="${user.getLastName()}"
                                                                                       class="form-control"
                                                                                       id="delete-modal-lastName"
                                                                                       placeholder="Last name"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 mb-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Age</b></h6>
                                                                                <input name="age"
                                                                                       type="text"
                                                                                       th:value="${user.getAge()}"
                                                                                       class="form-control"
                                                                                       id="delete-modal-age"
                                                                                       placeholder="Age"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Email</b></h6>
                                                                                <input name="email"
                                                                                       type="text"
                                                                                       th:value="${user.getEmail()}"
                                                                                       class="form-control"
                                                                                       id="delete-modal-email"
                                                                                       placeholder="Email"
                                                                                       readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 row g-2">
                                                                        <div class="col-md">
                                                                            <div class="form-floating">
                                                                                <h6><b>Role</b></h6>
                                                                                <select class="form-select"
                                                                                        name="user-roles"
                                                                                        id="delete-modal-user-roles"
                                                                                        style="padding: 0"
                                                                                        multiple>
                                                                                    <option th:each="role : ${new_roles}"
                                                                                            th:value=" ${role.getId()}"
                                                                                            th:text="${role.getTitle()}"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div style="display:flex; align-items: center;
                                                                       justify-content: right">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal"
                                                                                style="margin-right: 5px">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-danger">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--*******************************************************************-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--        ***********************************************************************************************-->
        <!--        Add user tab-->
        <!--        ***********************************************************************************************-->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
             aria-labelledby="profile-tab" tabindex="0">
            <table class="table table-responsive" style="border-collapse: collapse">
                <tr>
                    <td style="border: 1px solid #c7c8c9; background-color: #f2f2f2">
                        <div style="margin: 5px; padding-top: 10px"><h5>
                            Add new user</h5></div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #c7c8c9; display:flex; align-items: center; justify-content: center">
                        <form method="POST" th:action="@{/admin/add-user}" object="add-user"
                              style="width: 50vh; text-align: center">
                            <div class="mt-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>First name</b></h6>
                                        <input name="name" type="text" class="form-control"
                                               id="add-name"
                                               placeholder="Name" required>
                                        <div class="invalid-feedback">Обязательное поле для
                                            заполнения
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>Last name</b></h6>
                                        <input name="lastName" type="text" class="form-control"
                                               id="add-lastName"
                                               placeholder="Last name" required>
                                        <div class="invalid-feedback">Обязательное поле для
                                            заполнения
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 mb-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>Age</b></h6>
                                        <input name="age" type="number" class="form-control"
                                               id="add-age"
                                               placeholder="Age" required>
                                        <div class="invalid-feedback">Обязательное поле для
                                            заполнения
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 mb-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>Email</b></h6>
                                        <input name="email" type="text" class="form-control"
                                               id="add-email"
                                               placeholder="E-mail" required>
                                        <div class="invalid-feedback">Обязательное поле для
                                            заполнения
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>Password</b></h6>
                                        <input name="password" type="password" class="form-control"
                                               id="add-password"
                                               placeholder="Password" required>
                                        <div class="invalid-feedback">Обязательное поле для
                                            заполнения
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <h6><b>Role</b></h6>
                                        <select class="form-select" name="user-roles"
                                                id="add-user-roles"
                                                style="padding: 0" multiple
                                                required>
                                            <option th:each="role : ${new_roles}"
                                                    th:value=" ${role.getId()}"
                                                    th:text="${role.getTitle()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 row g-2"
                                 style="display:flex; align-items: center; justify-content: center">
                                <button type="submit" class="btn btn-success"
                                        style="width: max-content"
                                        onclick="validateForm()">Add new user
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--    ***************************************************************************************************-->
</div>
</body>
</html>