<div xmlns:th="http://thymeleaf.org"
     th:fragment="edit-user">
    <div class="modal fade" th:id="'edit' + ${user.getId()}" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-edit-content">
                    <form method="POST" th:action="@{/admin/update-user}" object="edit-user">
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>ID</b></h6>
                                    <input name="id" type="text" class="form-control"
                                           id="edit-modal-id" th:value="${user.getId()}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>First name</b></h6>
                                    <input name="name" type="text" th:value="${user.getName()}"
                                           class="form-control" id="edit-modal-name"
                                           placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>Last name</b></h6>
                                    <input name="lastName" type="text"
                                           th:value="${user.getLastName()}"
                                           class="form-control" id="edit-modal-lastName"
                                           placeholder="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 mb-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>Age</b></h6>
                                    <input name="age" type="text" th:value="${user.getAge()}"
                                           class="form-control" id="edit-modal-age"
                                           placeholder="Age">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>Email</b></h6>
                                    <input name="email" type="text" th:value="${user.getEmail()}"
                                           class="form-control" id="edit-modal-email"
                                           placeholder="Email"
                                           readonly>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>Password</b></h6>
                                    <input name="password" type="password" class="form-control"
                                           id="edit-modal-password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <h6><b>Role</b></h6>
                                    <select class="form-select" name="user-roles"
                                            id="edit-modal-user-roles"
                                            style="padding: 0;" multiple required>
                                        <option th:each="role : ${new_roles}"
                                                th:value=" ${role.getId()}"
                                                th:text="${role.getTitle()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bottom-buttons">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
