<div xmlns:th="http://thymeleaf.org"
     th:fragment="profile">
    <h2>User information-page</h2>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
             aria-labelledby="home-tab" tabindex="0">
            <table class="table table-responsive" id="table-wrapper">
                <tr>
                    <td class="td-main" id="row-header">
                        <div>
                            <h5>About user</h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-main" id="row-content">
                        <table class="table table-striped">
                            <thead>
                            <hr>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${currentUser.getId()}"></td>
                                <td th:text="${currentUser.getName()}"></td>
                                <td th:text="${currentUser.getLastName()}"></td>
                                <td th:text="${currentUser.getAge()}"></td>
                                <td th:text="${currentUser.getEmail()}"></td>
                                <td>
                                    <div style="float: left; margin-right: 5px"
                                         th:each="role : ${currentUser.getRoles()}">
                                        <p th:text="${role.getTitle()}"></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>