<div xmlns:th="http://thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="sidebar">
    <div class="d-flex align-items-start">
        <div sec:authorize="#authentication.getName().equals('admin@admin.com')"
             class="nav nav-pills" role="tablist"
             aria-orientation="vertical">
            <a class="nav-link active" href="/admin"
               aria-selected="true">Admin</a>
            <a class="nav-link" href="/user/"
               aria-selected="false">User</a>
        </div>
        <div sec:authorize="!#authentication.getName().equals('admin@admin.com')"
             class="nav nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-profile-tab" href="/user/"
               aria-selected="false">User</a>
        </div>
    </div>
</div>

