<!DOCTYPE html>
<html lang="en" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          media="screen">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
    </script>
</head>
<body>
<div style="padding-left: 15px">
    <h3 class="mt-3 mb-3">Обновить пользователя</h3>
    <form method="POST" th:action="@{/admin/update-user}" object="user">
        <input name="id" type="hidden" th:value="${user.getId()}" class="form-control" id="id">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="name" type="text" th:value="${user.getName()}"
                           class="form-control" id="name" placeholder="Имя">
                    <label for="name">Имя</label>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="age" type="text" th:value="${user.getAge()}"
                           class="form-control" id="age" placeholder="Возраст">
                    <label for="age">Возраст</label>
                </div>
            </div>
        </div>
        <label for="sex">Выберете пол из списка:</label>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="sex" id="sex" required>
                        <option th:each="sex : ${sexList}"
                                th:value=" ${sex}" th:text="${sex.getDescription()}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад
            </button>
        </div>
    </form>
</div>
</body>
</html>